# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing & Coverage
/coverage

# Next.js build
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Vercel & Firebase
.vercel
.firebase/

# TypeScript
*.tsbuildinfo
next-env.d.ts
